* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* font-family: "Outfit", sans-serif; */
  /* font-family: "Playfair Display", serif; */
}

/*==================== Common Features =======================*/
a {
  text-decoration: none;
  display: inline-block;
}

.main-content {
  max-width: calc(1170px - 24px);
  margin: 0 auto;
}

/*======================== Header =========================*/

header {
  padding: 35px 24px;
  background: #fff;
  position: sticky;
  top: -10px;
  z-index: 2;
  opacity: 0.8;
}

header .body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .body-header .logo {
  font-size: 35px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #0175a8, #99e0ff);
}

header .body-header .menu {
  display: flex;
  align-items: center;
}

header .body-header .menu li {
  list-style: none;
  margin: 0 20px;
}

header .body-header .menu li:hover a {
  transform: scale(1.2);
}

header .body-header .menu li a {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 550;
  color: #4a5568;
  transition: 0.5s;
}

header .body-header .menu li a:hover {
  color: #005583;
  text-shadow: 0 0 15px #005583;
}

/*======================== Welcome ========================*/
.welcome {
  padding: 100px 0;
  background-image: linear-gradient(20deg, #d1edff 30%, #fff, #b8e1fc 80%);
}

.welcome .welcome-body .beach {
  margin: 0 auto 50px;
  width: 250px;
  height: 50px;
  background: #dbedf8;
  border-radius: 30px;
  line-height: 50px;
  border: 1px solid #023e8a;
}

.welcome .welcome-body .beach p {
  font-size: 17px;
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-weight: 600;
  color: #0077b6;
}

.welcome .welcome-body h1 {
  font-size: 60px;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  color: #023e8a;
}

.welcome .welcome-body > p {
  margin-top: 50px;
  text-align: center;
  color: #4a5568;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}

/*================================ Exploration ===================================*/
.exploration {
  margin: 100px auto;
}

.exploration .exploration-body > h1 {
  font-size: 40px;
  font-family: "Playfair Display", sans-serif;
  color: #1a202c;
  text-align: center;
  position: relative;
}

.exploration .exploration-body > h1::after {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #0175a8, #99e0ff);
  top: 100px;
  left: 550px;
}

.exploration .exploration-body .item {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exploration .exploration-body .item .package {
  padding: 20px;
  border-radius: 20px;
  transition: all 0.3s linear;
}

.exploration .exploration-body .item .package:hover {
  box-shadow: 0 0px 15px black;
  transform: scale(1.1);
}

.exploration .exploration-body .video-container {
  border-radius: 20px;
  overflow: hidden;
  width: 500px;
  height: 280px;
}

.exploration .exploration-body .video-container video {
  display: block;
  width: 100%;
  height: 100%;
}

.exploration .exploration-body .item .package .info-container {
  padding: 20px;
}

.exploration .exploration-body .item .package .info-container h1 {
  color: #023e8a;
  font-size: 24px;
  font-family: "Playfair Display", sans-serif;
}

.exploration .exploration-body .item .package .info-container p {
  color: #4a5568;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  margin-top: 10px;
}

/*========================= FOOTER ==========================*/

footer {
  padding: 100px 24px;
  background: #023e8a;
}

footer .footer-body h1 {
  color: #fff;
  font-size: 40px;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
}

footer .footer-body .again {
  color: #fff;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

footer .footer-body .again::after {
  display: block;
  content: "";
  position: absolute;
  width: 800px;
  height: 2px;
  background: #3d5765;
  top: 80px;
  left: 200px;
}

footer .footer-body .copyright {
  margin-top: 120px;
  color: #fff;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  text-align: center;
  opacity: 0.6;
}
